{% extends "events/base.html" %}   <!--Extends the base.html file in the events folder to inherrit repeated code/html -->
{% load crispy_forms_tags %}
{% block content %} <!--Start of unique content -->
    <div class="content-section">
        <form method="POST">
            {% csrf_token %} <!--Django security token -->
                <fieldset class="form-group">
                    <legend style="color:#fffffe;">Login</legend> <!--Creates a legend for the form -->
                    {{ form|crispy }} <!--uses crispy forms to style forms -->
                </fieldset>
            <div class="form-group">
                <button type="submit" class="purple-button">Login</button>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">Don't have an account?<a class="ml-2" href="{% url 'register' %}">Sign Up Here</a></small> <!--Creates a link to the login page -->
            </div>
        </form>
    </div>




{% endblock content %} <!--End of unique content -->
