{% extends "events/base.html" %} <!-- Inheritence from base.html-->
{% load crispy_forms_tags %}
{% block content %} <!-- Start of unique content for this page -->

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }} <!-- Renders form using crispy forms -->
            </fieldset>
            <div class="form-group">
                <button class="pagination-button" type="submit">Reset Password</button> <!-- Submit button -->
            </div>
        </form>  
    </div>

{% endblock content %} <!-- End of unique content for this page -->