{% extends "events/base.html" %}   <!--Extends the base.html file in the events folder to inherrit repeated code/html -->
{% load crispy_forms_tags %} <!--Loads crispy forms to style forms -->
{% block content %} <!--Start of unique content -->
    
    <div class="content-section">
        <div class="profile-pic">
            <img class="account-img" src="{{ user.profile.photo_of_user.url }}"> 
        </div>
        
        <div class="profile-form">
            <form method="POST" enctype="multipart/form-data"> <!-- ensures form data is saved in the background -->
                {% csrf_token %} <!--Django security token -->
                <div class="form-small">
                    <fieldset class="form-group">
                        <legend style="color:#fffffe;">Profile</legend> <!--Creates a legend for the form -->
                        {{ user_update_form|crispy }} 
                        {{ profile_update_form|crispy }}
                    </fieldset>
                </div>
                <div class="form-group">
                    <button type="submit" class="pagination-button">Update</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %} <!--End of unique content -->
