{% extends "events/base.html" %}   <!--Extends the base.html file in the events folder to inherrit repeated code/html -->
{% load rating_stars %}
{% block content %} <!--Start of unique content -->

    <div class="banner">
        <img src="/media/imgs/event-detail.jpg" alt="Contact Page Banner">
    </div>
    <div class="contact-container">
        <div class="event-card">
            <img class="event-card-photo" src="{{ object.photo.url }}">
            <h3 class="event-card-title">{{ object.name }}</h3>
            <p class="event-card-type">{{ object.event_type }}</p>
            <p class="event-card-location">{{ object.location }}</p>
            <p class="event-card-date">{{ object.date }}</p>
            <p class="event-card-description">{{ object.description }}</p>

            {% if user.username == 'admin' %}
            <div>
                <a class="btn btn-outline-secondary btn-sm mt-1 mb-1" href="{% url 'event-update' object.id %}">Update</a>
                <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'event-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
            
        </div>

        <div class="review-content">
            <h1 class="banner-headline">Music Band Events</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            
            <p class="banner-paragraph">We'd love to hear your review of the event!</p>
            <a href="{% url "review-create" %}" class="pagination-button">Leave a Review</a>
        </div>
    </div>
{% endblock content %} <!--End of unique content -->