{% extends "events/base.html" %}   <!--Extends the base.html file in the events folder to inherrit repeated code/html -->
{% block content %} <!--Start of unique content -->
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} <!--Django security token -->
                <fieldset class="form-group">
                    <legend style="color:#fffffe;">Delete Review</legend> <!--Creates a legend for the form -->
                </fieldset>
            <h2>Are you sure you want to delete this Review?</h2>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-danger">DELETE</button>
                <a class="btn btn-outline-secondary" href="{% url 'review-detail' object.id  %}">CANCEL</a>
            </div>    
        </form>
    </div>

{% endblock content %} <!--End of unique content -->
