{% extends "events/base.html" %}   <!--Extends the base.html file in the events folder to inherrit repeated code/html -->
{% load rating_stars %}
{% block content %} <!--Start of unique content -->
    <h1 class="mb-3">Reviews from {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>

    {% for review in reviews %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" style="color: #7f5af0;" href="{% url 'user-reviews' review.author %}">{{ review.author }}</a>
                    <small class="text-muted">{{ review.date_posted|date:"F d, Y" }}</small>
                    <p class="review-card-rating">Rating: {{ review.event_rating|stars }}</p>
                </div>
                <h2><a class="event-card-title" href="{% url 'review-detail' review.id %}">{{ review.event}}</a></h2>
                <p class="article-content">{{ review.content }}</p>
            </div>
        </article>
    {% endfor %}
    
<!-- Pagination Start -->
{% if is_paginated %}

	{% if page_obj.has_previous %}
		<a class="pagination-button" href="?page=1">First</a>
		<a class="pagination-button" href="?page={{ page_obj.previous_page_number }}">Previous</a>
	{% endif %}

	{% for num in page_obj.paginator.page_range %}
		{% if page_obj.number == num %}
			<a class="pagination-button" href="?page={{ num }}">{{ num }}</a>
		{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
			<a class="pagination-button" href="?page={{ num }}">{{ num }}</a>
		{% endif %}
	{% endfor %}

	{% if page_obj.has_next %}
		<a class="pagination-button" href="?page={{ page_obj.next_page_number }}">Next</a>
		<a class="pagination-button" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
	{% endif %}

{% endif %}
<!-- Pagination End -->
{% endblock content %} <!--End of unique content -->